* {
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

body {
    background-image:url(surfing.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */

    color: #495057;
    
}

h1 {
    display: inline-block;
    margin: 2em 1em 3em 14em;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 40px;

    
}

.time-val {
    font-weight: 600;
}

.val {
    
}

.value {
    font-size: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.v {
    align-items: center;
    justify-content: center;
}