@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

:root {
  --background-color: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url(images/baseball.jpeg);
  background-position: center center;
  background-size: cover;
  transition: 0.4s ease-in;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 75vh;
  width: 75vw;
  position: relative;
}

.slides {
  opacity: 0;
  height: 100%;
  width: 100%;
  background-image: url(images/baseball.jpeg);
  background-position: center center;
  background-size: cover;
  position: absolute;
  transition: 0.4s;
}

.slides.active {
  opacity: 1;
}

.left {
  position: absolute;
  top: 50%;
  left: -32px;
  height: 32px;
  width: 32px;
  border: 1px solid white;
  border-right: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  z-index: 5;
}

.left-icon {
  height: 48px;
  width: 48px;
  cursor: pointer;
}

.right {
  position: absolute;
  top: 50%;
  right: -32px;
  height: 32px;
  width: 32px;
  border: 1px solid white;
  border-left: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.right-icon {
  height: 48px;
  width: 48px;
}
